
.b-menu ul{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 250px;
}
.b-menu li{
    cursor: pointer;
    font-size: 15px;
    height: 34px;
    color: #A04B71;
    font-weight: normal;
    margin:0 0 0 0.5em;
    text-align: right;
    line-height: 30px;
    border-bottom: 1px  #D3D9D9 dotted;
}
